.work .hover p {
                bottom: 5px;
                top: auto;
                left: auto;
                right: 10px;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                transform: none;
                color: #fff;
                font-size: 0.8em;
            }

.work .hover {
    background: rgba(0,0,0,0.5);
}

            .gutter {
                padding: 5px
            }

            .navbar-toggle {
                display: none;
            }

            .navigation {
                border-color: transparent;
                box-shadow: none !important;
            }

            .with-admin-navigation,
            #admin-navigation {
                position: relative !important;
            }

            @media(min-width: 768px) {
                .navigation {
                    padding: 30px 10% 30px 10%;
                }

                #portfolio {
                    margin-top: 80px;
                }

                .sections {
                    padding-top: 80px !important;
                }

                .with-admin-navigation,
                #admin-navigation {
                    position: fixed !important;
                }

                .with-admin-navigation {
                    margin-top: 50px;
                }

                .navbar-collapse.collapse {
                    display: none !important;
                }
                .brief-inner {
                    margin-top: 100px !important;
                }
            }

            @media(min-width: 992px) {
                .navbar-collapse.collapse {
                    display: block !important;
                }
            }

            @media (max-width: 400px) {
                .works-filter li, .works-filter-full li {
                    margin-right: 9px !important;
                }
            }

            .loader-img img {
                position: absolute;
            }
            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

            .loader-img img {
                display: none;
                left: 47.5%;
                bottom: 48%;
                width: 50px;
                height: auto;
                z-index: 1002;
            }

            .work .work-image {
                transition: all 0.4s;
                overflow: hidden !important;
            }

            @media screen and (max-width: 479px) {
                .work {
                        height: 80vw !important;
                }
            }
            @media screen and (min-width: 480px) and (max-width: 767px) {
                .work {
                        height: 40vw !important;
                }
            }

            .nav-tagline {
                font-size: 1.1em;
                color: #000 !important;
                padding-right: 0 !important;
                margin-right: 0 !important;
            }
            .nav-tagline:hover {
                color: #777 !important;
            }
@media(max-width:768px) {
            #admin-navigation .navbar-toggle{

                    display: block !important;
                }
            }

            @media (max-width: 768px) {
                .navigation {
                    z-index: 1 !important;
                }
                .navbar-right {
                    clear: both;
                }
            }

    #admin-navigation {
        color: #ccc;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999;
        background: #23282d;
        font-size: 13px;
    }

    #admin-navigation a {
        color: #fff;
        font-weight: 600;
        font-size: 13px;
    }

    #admin-navigation .dropdown-menu a:hover {
        text-decoration: underline;
    }

    #admin-navigation .dropdown-menu li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #admin-navigation .dropdown-menu {
        padding: 0;
    }
    #admin-navigation .dropdown-menu li {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    #admin-navigation .dropdown-menu a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0;
    }
    #admin-navigation .dropdown-menu a:hover {
        text-decoration: none;
        background-color: #fff;
        color: #000;
    }

    #admin-navigation .navbar-right > li > span {
        font-size: 14px;
    }










.footer-social > li {
    margin: 35px 35px 0 0;
}

.footer-details a {
    margin: 0;
}




#resource-content ul {
    list-style: disc !important;
}
#resource-content ol {
    list-style: decimal !important;
}
#resource-content ul,
#resource-content ol {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
}

.project-content,
.project-content * {
    font-size: 12px !important;
    line-height: 24px !important;
}

.brief-inner {
    margin-bottom: 50px;
    margin-top: 0;
}

#resource-content a img {
    margin-bottom: .5em;
}



.works-filter.gutter.uk-subnav.uppercase.ultrabold {
    margin-bottom: 20px
}

.work.gutter.uk-width-small-1-2.uk-width-medium-1-4 {
    height: 20vw; min-width: 20vw;
}

.work-image {
     background-size: cover; height: 100%; width: 100%;
}